.server {
  background-image: linear-gradient(
      rgba(16, 16, 16, 0.6),
      rgba(16, 16, 16, 0.6)
    ),
    url("../../assets/background.jpg");
  background-position: 0 0, -70vh -20vh;
  background-size: auto, 360vh;
  padding-top: 3vh;
  padding-bottom: 0;
  padding-left: 12vh;
  position: absolute;
  top: 0%;
  bottom: 0%;
  left: 0%;
  right: 0%;
  overflow: hidden;
}
