/* Server Info */
.serverInfoWrap {
  margin-bottom: 3vh;
}
.serverName {
  color: #fff;
  letter-spacing: 0.1vh;
  margin-bottom: 1vh;
  font-family: "Rajdhani", sans-serif;
  font-size: 3.1vh;
  font-weight: 600;
  line-height: 3.8vh;
}
.serverInfo {
  margin-bottom: 1vh;
  display: flex;
}
.serverFlag {
  margin-right: 1vh;
}
.serverMode {
  color: rgba(255, 255, 255, 0.8);
  letter-spacing: 0.1vh;
  text-transform: uppercase;
  font-family: "Rajdhani", sans-serif;
  font-size: 1.5vh;
  font-weight: 600;
  line-height: 1.8vh;
}
.serverInfoLine {
  color: rgba(255, 255, 255, 0.8);
  letter-spacing: 0.1vh;
  text-transform: uppercase;
  margin-left: 1vh;
  margin-right: 1vh;
  font-family: "Rajdhani", sans-serif;
  font-size: 1.5vh;
  font-weight: 600;
  line-height: 1.8vh;
}
.serverGame,
.serverPreset,
.serverNoHz {
  color: rgba(255, 255, 255, 0.8);
  letter-spacing: 0.1vh;
  text-transform: uppercase;
  font-family: "Rajdhani", sans-serif;
  font-size: 1.5vh;
  font-weight: 600;
  line-height: 1.8vh;
}
.serverHz {
  color: rgba(255, 255, 255, 0.8);
  letter-spacing: 0.1vh;
  text-transform: uppercase;
  margin-left: 0.5vh;
  font-family: "Rajdhani", sans-serif;
  font-size: 1.5vh;
  font-weight: 600;
  line-height: 1.8vh;
}
.serverDesc {
  width: 80vh;
  color: rgba(255, 255, 255, 0.8);
  letter-spacing: 0.08vh;
  font-family: "Rajdhani", sans-serif;
  font-size: 1.5vh;
  font-weight: 600;
  line-height: 1.8vh;
}
/* Buttons */
.serverBtns {
  margin-bottom: 2vh;
  display: flex;
}
.serverBtn {
  width: 28vh;
  height: 4.8vh;
  border: 1px solid rgba(255, 255, 255, 0.2);
  justify-content: center;
  align-items: center;
  margin-right: 1vh;
  display: flex;
}
.serverBtnFav {
  width: 14vh;
  padding-left: 2vh;
  position: relative;
}
.serverBtnText {
  color: #fff;
  text-align: center;
  letter-spacing: 0.1vh;
  text-transform: uppercase;
  font-family: "Rajdhani", sans-serif;
  font-size: 1.5vh;
  font-weight: 600;
  line-height: 1.8vh;
}
.serverFav {
  width: 1.8vh;
  flex: 0 auto;
  display: block;
  position: absolute;
  left: 3.5vh;
}
.serverFavWhite {
  z-index: 1;
  display: block;
}
.serverFavBlack {
  z-index: 2;
  display: none;
}
.serverBtn:hover {
  background-color: rgb(255, 255, 255);
}
.serverBtn:hover .serverBtnText {
  color: rgb(16, 16, 16);
  font-weight: 600;
}
.serverBtnFav:hover .serverFavWhite {
  display: none;
}
.serverBtnFav:hover .serverFavBlack {
  display: block;
}
